# Entorno y dependencias
venv/
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
.env

# Logs y temporales
*.log
logs/
*.tmp
*.bak

# Archivos de despliegue y credenciales
firestore-key.json
secrets/
infra_status*.json

# Archivos generados por Docker o despliegue
*.tar
*.zip
*.tgz
.deploy_cache/
.deploy_temp/
policy-*.tpl.json
policy-*.tmp.json
*-update.json
*evaluated.json
policy-*-test.json
infra_snapshots/archive/
*.bak
*.tar.gz
infra_snapshots/
.config/
.compose.help.txt
.env.bak.*
