fastapi==0.115.3
uvicorn[standard]==0.30.6

numpy<2

google-cloud-firestore==2.18.0
google-auth==2.35.0
google-cloud-storage==3.7.0
requests==2.32.3

# 🔒 ML DESACTIVADO EN FASE 1
# sentence-transformers
# torch
# huggingface-hub
